@{
    ViewBag.Title = "Account Deletion Confirmation";
}
<h2>@ViewBag.Title</h2>
    <hr />
    <p class="text-info">
        You have successfully deleted your account.
    </p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


