@{
    ViewBag.Title = "About";
}
<h2 class="login-title">@ViewBag.Title</h2>
<hr/>

<div class="col-md-6">This is the Final Project for CS604 Advanced Software Engineering. This project was done during the fall trimester of 2016 by Matthew Saffo, Glen Lucero and Israel Duran.</div>
<div class="clearfix"></div>
