@{
    ViewBag.Title = "Contact";
}
<h2 class="login-title">@ViewBag.Title</h2>
<hr/>

<address>
    Sacred Heart University<br />
    Fairfield, CT 06825<br />
    <abbr title="Phone">P:</abbr>
    203.365.7575
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:techsupport@sacredheart.edu ">Techsupport@sacredheart.edu </a><br />
</address>